/* You can add global styles to this file, and also import other style files */
body
{
    background-color: rgb(0, 191, 255);
    color: rgb(0, 0, 0);
}
h1
{
    text-align: center;
    padding: 2vw;
}
div 
{
    margin: 2rem;
}

